.app {
	width: 50%;
	margin: 50px auto;

	.search-block {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;

		.user-city {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			position: relative;
			flex: 1 1 auto;
			width: 1%;
			margin-bottom: 0;
			padding: .375rem .75rem;
		}

		.submit-button {
			margin-left: -1px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}

	.info-block {
		border: 1px solid #ced4da;
		border-radius: .25rem;
		margin-top: .40rem;
		padding: .375rem .75rem;

		.delete-button {
			padding: .25rem .57rem;
			border-radius: 1rem;
		}
	}
}
